:root {
  // background
  --background-color-pale-blue-darkest: #071520;
  --background-color-pale-blue-dark: #091a2a;
  --background-color-pale-blue-low-dark: #122e43;
  --background-color-pale-blue: #018dc6;
  --background-color-blue-light: #4582b6;
  --background-color-pale-gray-blue: #384452;
  --background-color-white: #e9f1fa;
  --background-color-pink-dark: #9A1750;
  --background-color-orange: #d54407;

  // font
  --font-color-pale-blue: #03b0ed;
  --font-color-white-low-blue: #e9f1fa;
  --font-color-gray: #c0c8d3;

  // border
  --border-color-pale-blue-dark: #075661;
  --border-color-black: black;
  --border-color-white: white;
}