:root {
  // background
  --background-color-pale-blue-darkest: #071520;
  --background-color-pale-blue-dark: #091a2a;
  --background-color-pale-blue-low-dark: #122e43;
  --background-color-pale-blue: #018dc6;
  --background-color-white: #e9f1fa;

  // font
  --font-color-pale-blue: #03b0ed;
  --font-color-white-low-blue: #e9f1fa;

  // border
  --border-color-pale-blue-dark: #075661;
}