@mixin btn-reset() {
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@mixin inp-reset() {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 0;
}

@mixin scroll-bar-min() {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: $gray;
    border-radius: 15px;
  }

  ::-webkit-scrollbar-thumb:active {
    background: $blue;
  }
}