:root {

  // White
  --color-white-1: #C0C0C0;
  --color-white-2: #D3D3D3;
  --color-white-3: #E8E8E8;
  --color-white: #ffffff;

  // Black
  --color-black-1: #3F3F3F;
  --color-black-2: #2C2C2C;
  --color-black-3: #171717;
  --color-black: #000000;

  // Low Blue
  --color-low-blue-1: #9CDAF3;
  --color-low-blue-2: #71CAEE;
  --color-low-blue-3: #50BEEA;
  --color-low-blue-4: #018DC6;
  --color-low-blue-5: #017BAE;
  --color-low-blue-6: #01587E;
  --color-low-blue-7: #01415D;

  // Blue
  --color-blue-1: #1717FF;
  --color-blue-2: #0C0CFF;
  --color-blue-3: #0000D3;
  --color-blue-4: #000084;
  --color-blue-5: #00006D;
  --color-blue-6: #00005A;
  --color-blue-7: #00004B;

  // Blue-dark
  --color-blue-dark-1: #3C5264;
  --color-blue-dark-2: #284154;
  --color-blue-dark-3: #122E43;
  --color-blue-dark-4: #0E2437;
  --color-blue-dark-5: #091A2A;
  --color-blue-dark-6: #071521;
  --color-blue-dark-7: #050F18;

  // Orange
  --color-orange-1: #DF7245;
  --color-orange-2: #DC6432;
  --color-orange-3: #D9551E;
  --color-orange-4: #D54407;
  --color-orange-5: #C23E06;
  --color-orange-6: #B03805;
  --color-orange-7: #A03305;

  // Red
  --color-red-1: #dd5050;
  --color-red-2: #d62c2c;
  --color-red-3: #d21717;
  --color-red-4: #bf0c0c;
  --color-red-5: #9b0000;
  --color-red-6: #740000;
  --color-red-7: #5f0000;

  // Gray
  --color-gray-1: #D4DAE1;
  --color-gray-2: #CBD2DB;
  --color-gray-3: #C0C8D3;
  --color-gray-4: #AFB6C0;
  --color-gray-5: #9FA5AF;
  --color-gray-6: #91969F;
  --color-gray-7: #848891;

  // Green
  --color-green-1: #50FA95;
  --color-green-2: #2CFA7E;
  --color-green-3: #00F863;
  --color-green-4: #00E15A;
  --color-green-5: #00B047;
  --color-green-6: #007F33;
  --color-green-7: #004E20;

  // Purple
  --color-purple-1: #FF87F0;
  --color-purple-2: #FF6EEC;
  --color-purple-3: #FF50E8;
  --color-purple-4: #FF2CE3;
  --color-purple-5: #B616A1;
  --color-purple-6: #6D005E;
  --color-purple-7: #520047;

  // Yellow
  --color-yellow-1: #FFF8A5;
  --color-yellow-2: #FFF479;
  --color-yellow-3: #FFF260;
  --color-yellow-4: #FFEC17;
  --color-yellow-5: #D3C200;
  --color-yellow-6: #918400;
  --color-yellow-7: #786D00;
}